<html>
<head>
<style>
form{
background-color:lightblue;
}
</style>
<body>
<center>
<h1>
<font face="wide latin">
<p align="left">A I R <font face="Mistral" color="orange">predict</font></p></font>
</h1>
</center>
<form align=center  action="/pre" method="POST">
<fieldset>
<legend><b>SENSOR DATA<b></legend>
  <label>ID:</label>
  <input type="text" id="id" name="id"><br>
  <label>Cycle:</label>
  <input type="text" id="cycle" name="cycle"><br>
  <label>SET1:</label>
  <input type="text" id="set1" name="set1"><br>
  <label>SET2:</label>
  <input type="text" id="set2" name="set2"><br>
  <label>SET3:</label>
  <input type="text" id="set3" name="set3"><br>
  <label>S1:&nbsp </label>
  <input type="text" id="s1" name="s1"><br>
  <label>S2:&nbsp </label>
  <input type="text" id="s2" name="s2"><br>
  <label>S3:&nbsp </label>
  <input type="text" id="s3" name="s3"><br>
  <label>S4:&nbsp </label>
  <input type="text" id="s4" name="s4"><br>
  <label>S5:&nbsp </label>
  <input type="text" id="s5" name="s5"><br>
  <label>S6:&nbsp </label>
  <input type="text" id="s6" name="s6"><br>
  <label>S7:&nbsp </label>
  <input type="text" id="s7" name="s7"><br>
  <label>S8:&nbsp </label>
  <input type="text" id="s8" name="s8"><br>
  <label>S9:&nbsp </label>
  <input type="text" id="s9" name="s9"><br>
  <label>S10:</label>
  <input type="text" id="s10" name="s10"><br>
  <label>S11:</label>
  <input type="text" id="s11" name="s11"><br>
  <label>S12:</label>
  <input type="text" id="s12" name="s12"><br>
  <label>S13:</label>
  <input type="text" id="s13" name="s13"><br>
  <label>S14:</label>
  <input type="text" id="s14" name="s14"><br>
  <label>S15:</label>
  <input type="text" id="s15" name="s15"><br>
  <label>S16:</label>
  <input type="text" id="s16" name="s16"><br>
  <label>S17:</label>
  <input type="text" id="s17" name="s17"><br>
  <label>S18:</label>
  <input type="text" id="s18" name="s18"><br>
  <label>S19:</label>
  <input type="text" id="s19" name="s19"><br>
  <label>S20:</label>
  <input type="text" id="s20" name="s20"><br>
  <label>S21:</label>
  <input type="text" id="s21" name="s21"><br>
  <input type="submit">
  </fieldset>
</form>
</body>
</html>